.idea
.gradle
.allure
.run

tmp
out
allure-results
build
detekt
local.properties
local.tmp.properties
*.remote.properties
*.local.properties
*.log
*.iml
ajcore.*
.DS_Store

cases_to_tests.json
testrail_statuses.json
